body{
	background-color: black;
	font-family: "Dejavu Sans", Verdana, Arial, sans-serif;
	font-size: 0.8em;
	color: white;
}
img{
	border:0;
}
a{
	color:#FFFB94;
	background:inherit;
}
a:visited{
	color:#FFB509;
	background:inherit;
}
a:hover{
	color:white;
	background:inherit;
}
h1{
	font-size:1.3em;
	color:#62C3FF;
	background-color:inherit;
	text-decoration:underline;
	clear:both;
}
h2{
	text-align:center;
	font-size:1.2em;
	background-color:#333;
	color:#999;
	margin:0 0 5px 0;
	padding:3px 0;
}
h2 span{
	font-size:0.8em;
	display:block;
}
p{
	text-align:justify;
	color:#62C3FF;
	background:inherit;
	font-size:0.9em;
	line-height:1.5em;
}
acronym{
	border-bottom:1px dotted;
}
#content{
	width:80%;
	margin-left:10%;
}
#header{
	float:left;
}
#summary{
	list-style-type:upper-roman;
	font-weight:bold;
	text-align:right;
}
.parts{
	border:2px solid #333;
	padding:3px;
	margin:3px 0;
}
.parts p{
	border-bottom:1px dashed white;
}
.parts a{
	font-weight:bold;
	display:block;
	text-decoration:none;
	position:relative;
}
.parts a span{
	font-size:0.85em;
	position:absolute;
	right:0;
}
.parts a:hover{
	text-decoration:underline;
}
.parts a.normal{
	display:inline;
	font-weight:normal;
}
#w3c{
	clear:both;
	margin-top:10px;
	font-size:0.8em;
	vertical-align:top;
	text-align: center;
}
#w3c p{
	margin:0.3em 0.1em 1em 0.1em;
	padding:0;
	text-indent:0;
}
#w3c a{
	text-decoration:none;
}
#w3c ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#w3c li{
	display:inline;
}
#w3c li span{
	display:none;
}
#styleswitcher{
	text-align:right;
}
#styleswitcher li{
	display:inline;
}
