body{
    background-color: #FFF;
    color:#000;
    font-family: "DejaVu Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
a, a:link, a:visited{
    color:#666;
    background-color:#fff;
    text-decoration:underline;
}
a:hover{
    color:#333;
    background-color:#fff;
    text-decoration:underline;
}
.content{
    width:80%;
    margin:0 auto;
    position:relative;
}
.cv{
    width:90%;
    margin:0 auto;
}
h1{
    text-align:center;
    border-bottom:1px solid;
    margin-bottom:20px;
    color:blue;
    background-color:#fff;
    font-size:2.2em;
}
h2{
    color: blue;
    background-color:#fff;
    border-top:0;
    padding-bottom: 5px;
    padding-top:10px;
    clear:both;
}
h3{
    color: blue;
    background-color:#fff;
    border-top:0;
    padding-bottom: 2px;
    padding-top:5px;
    text-align:center;
}
hr{
    margin-top:1.5em;
    border:1px black solid;
    clear:both;
}
ul{
    margin:.1em 0 0 0;
    padding:0 1em;
}
.left{
    float:left;
}
.right{
    text-align:right;
}
.cv .left{
    float:left;
    width:150px;
}
.cv .right{
    margin-left:155px;
    text-align:justify;
}
.cv .big_block{
    width:300px;
}
.cv .big_left_margin{
    margin-left:205px;
}
.cv .fright{
    float:right;
}
.cv .oneline{
    text-align:justify;
}
.bottom{
    margin-top: 30px;
    text-align: center;
}
.cv .descriptif{
    clear:both;
    border-top: 1px black dotted;
    padding-left:1.5em;
    margin-top:.2em;
}
.cv .descriptif p{
    margin:0 0 .1em .5em;
}
.cv .descriptif p.first{
    margin-left:0;
    font-weight:bold;
    font-style:italic;
}

.externals * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media (max-width: 640px) {

    /* passer tous les éléments de largeur fixe en largeur automatique */
    body, .content {
        width: auto !important;
        margin: auto !important;
        padding: auto !important;
    }

    /* gestion des mots longs */
    table, td, th {
        word-wrap: break-word; /* césure forcée */
        white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Main css 'hacks' */
    body{
        margin:.2em!important;
    }
}

@media screen and (max-width:640px) and (orientation: landscape) {
    body {
        -webkit-text-size-adjust: 70%;
    }
}
